nav {
    background-color: rgb(218, 214, 214);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    z-index: 1000;
}

nav .logo {
    width: 15%;
}

nav button {
    font-size: 25px;
}

